body {
    background-image: url(./img/planeCombo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(77, 77, 77);
    transition: 0.4s;
}

nav {
    width: 100%;
    margin-top: 20px;
    position: fixed;
}

nav ul {
    margin-right: 300px;
    list-style-type: none;
    background-color: blue;
}

nav ul li {
    float: right;
    padding: 0 30px;
    font-weight: 600;
    font-size: 20px;
}

#project{
    font-weight: bolder;
    color:rgb(255, 255, 255);
}

nav li a:hover {
    color: white;
}

.container1 {
    background-color: rgba(156, 211, 224, 0.3);
    width: 800px;
    height: 1900px;
    margin: 0;
    padding: 0 0;
    position: absolute;
    bottom: -56.5%;
    left: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    overflow-y: scroll;
    transform: rotate(-90deg);
}

.projectObtion {
    background-color: aqua;
    width: 770px;
    height: 600px;
    margin: 180px 0px;
    border: 2px solid black;
    flex-shrink: 0;
    word-wrap: break-word;
    transform: rotate(90deg);
    translate: 0 0%;
}

.blankSpace {
    background-color: transparent;
    width: 0px;
    height: 500PX;
    margin: 0px 0px;
    border: 2px solid transparent;
    flex-shrink: 0;
    word-wrap: break-word;
    transform: rotate(90deg);
    translate: 0 0%;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(245, 245, 245);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb {
    background: rgb(79, 242, 248);
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 248, 252);
}    

#obtion p{
    color: transparent;
    transition: 0.5s;
    transform: translate(80%);
}

#obtion p:hover{
    color: black;
    transform: translate(-80%);

}